<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container ion-text-center">
    <img src="assets/logo.png" alt="EcoChain Logo" width="120" />
    <h2 class="eco-text">EcoChain</h2>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success" (click)="register()">Register</ion-button>

  <div class="ion-text-center">
    <p class="register-text">
      Already have an account?
      <a (click)="goToLogin()">Login here</a>
    </p>
  </div>
</ion-content>
