<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Trip Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="summary-bg ion-padding">
  <div class="summary-container">
    <h2 class="ion-text-center">Trip Summary</h2>
    <p><strong>Details:</strong></p>

    <ion-card class="summary-card">
      <ion-card-content>
        <p>{{ summary.date }}</p>

        <ion-item lines="full">
          <ion-label>Vehicle:</ion-label>
          <ion-text>{{ summary.vehicle }}</ion-text>
        </ion-item>

        <ion-item lines="full">
          <ion-label>Consumed Fuel:</ion-label>
          <ion-text>{{ summary.fuel }} L</ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Distance:</ion-label>
          <ion-text>{{ summary.distance }} km</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" shape="round" color="success" (click)="goHome()">Done</ion-button>
  </div>
</ion-content>
