.trip-bg {
    --background: #0a4022;
    color: white;
    padding: 16px;
  }
  
  .dropdown {
    background-color: #116338;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
  }
  
  .destination-list ion-item {
    margin-bottom: 10px;
    border-radius: 12px;
    background: #ffffff;
    color: black;
  }
  