<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-bg">
  <div class="logo-section ion-text-center">
    <img src="assets/logo.png" alt="EcoChain Logo" class="logo-img" />
    <h1>Eco Chain</h1>
  </div>

  <div class="action-buttons ion-padding">
    <ion-row class="icon-row">
      <ion-col size="6">
        <ion-button expand="block" fill="solid" color="success" (click)="goTo('trip')">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          Trip
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" color="tertiary" (click)="goTo('fuel')">
          <ion-icon name="flash-outline" slot="start"></ion-icon>
          Fuel
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="icon-row">
      <ion-col size="6">
        <ion-button expand="block" fill="solid" color="warning" (click)="goTo('vehicle')">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          Vehicle
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" color="medium" (click)="goTo('customize')">
          <ion-icon name="construct-outline" slot="start"></ion-icon>
          Customize
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
