.dashboard-bg {
    --background: #0a4022;
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .logo-section {
    margin-top: 30px;
  
    .logo-img {
      width: 100px;
      margin-bottom: 10px;
    }
  
    h1 {
      font-weight: 600;
    }
  }
  
  .icon-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  
    ion-icon {
      font-size: 40px;
      margin-bottom: 4px;
    }
  }
  
  .icon-row {
    margin-top: 20px;
  }
  
  .custom-btn {
    margin-top: 30px;
    font-weight: 600;
  }
  